{{> navbar this}}
<article>
  <h1 class="courseName">{{name}}</h1>
  
  <h2 class="courseHeading">courses</h2>
  <dl>
    
    <dd> {{data.name}} </dd>
    
  {{#if hasError}}
  <p class="error">{{error}}</p>
  {{/if}}
</article>