<article>
  <h1 class="courseName">{{name}}</h1>
  
  <h2 class="courseHeading">courses</h2>
  <dl>
    <dt></dt>
    <dd> {{data.name}} </dd>

    </dl>
  {{#if hasError}}
  <p class="error">{{error}}</p>
  {{/if}}
</article>