<div class="text-center-course3">
<h1>
Introduction to Java
</h1>

<h2>
    Course Description:  <br>
                         This Course is the first of a series of courses that make up the Core Java Specialization.  The Core Java Specialization, in turn, is part of a series of programming specializations, derived from LearnQuest's private Java Bootcamps, designed to provide the skill set necessary to be hired as an IT developer using Java in many corporate environments.</h2>

<form>
    <button class="red" type="submit"><i class="icon ion-md-lock"></i>Enroll Now!</button>
</form>

</div>