<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{!-- <link rel="stylesheet" href="/public/site.css"> --}}
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
     <link rel="stylesheet" href="/public/css/font-awesome.min.css">
     <link rel="stylesheet" href="/public/css/owl.carousel.css">
     <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
     <link rel="stylesheet" href="/public/css/custom.css">
     <link rel="stylesheet" href="/public/css/userPage.css">
     <link rel="stylesheet" href="/public/css/progress.css">
     <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


     <!-- MAIN CSS -->
     <link rel="stylesheet" href="/public/css/templatemo-style.css">
</head>
<body>
    <main>
          <!-- MENU -->


      {{{body}}}
    </main>

         <!-- SCRIPTS -->
     <script src="/public/js/jquery.js"></script>
     <script src="/public/js/bootstrap.min.js"></script>
     <script src="/public/js/owl.carousel.min.js"></script>
     <script src="/public/js/smoothscroll.js"></script>
     <script src="/public/js/custom.js"></script>
     <script src="/public/js/userPage.js"></script>

</body>
</html>