.resize-image{
    width: 8em;
    height: 5em;
}

/* .text-center-course3 {
    text-align: center;
}

.text-center-course2 {
    text-align: center;
} */




* {
	box-sizing: border-box;
}

.error {
    color: red;
    font-weight: bold;
}

#email {
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 4px;
    width: 300px;
}

#password {
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 4px;
    width: 300px;
}

#name {
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 4px;
    width: 300px;
}


a:link {
    color: #4f86e9;
}
a.sign-up-link{
    color:#2074e1;
}
a.course{
    color: #2074e1;
} 
a:visited {
    color: #90e36e;
}
a:hover {
    color: #11e979;
}
a:active {
    color: #fc007e;
}
a.new {
    color: #e93ea2;
    font-family: Georgia, serif;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 5px;
}

textarea:focus, input:focus {
    color: #ff7b00;
}

input, select, textarea{
    color: rgb(167, 233, 54);
}