* {
    box-sizing: border-box;
    transition: 1s;
    padding: 0;
    margin: 0;
  }
  
  .f-right {
    float: right;
  }
  
  .f-left {
    float: left;
  }
  
  body {
    height: 2000px;
  }
  
  .btn#fox-popup-triger {
    padding: 20px;
    margin: 10px;
    border: 1px solid #333;
    width: 200px;
    text-align: center;
    background-color: #053;
    color: #fff;
  }
  .btn#fox-popup-triger p {
    margin: 0;
    padding: 0;
  }
  
  .fox-popup-wrap {
    display: none;
    background-color: #006464;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  
  .fox-close-btn {
    width: 40px;
    height: 40px;
    background-color: #c80000;
    position: fixed;
    top: 10px;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .fox-close-btn:hover {
    background-color: #555;
  }
  .fox-close-btn .bar {
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;
    height: 4px;
    background: #fff;
  }
  .fox-close-btn .bar:nth-child(1) {
    transform: rotate(45deg);
  }
  .fox-close-btn .bar:nth-child(2) {
    transform: rotate(-45deg);
  }
  
  .fox-form-wrap {
    position: absolute;
    top: 10%;
    right: 20%;
    left: 20%;
  }
  .fox-form-wrap form {
    max-width: 900px;
    margin: auto;
  }
  .fox-form-wrap form p {
    color: white;
  }
  .fox-form-wrap form label {
    color: white;
  }
  .fox-form-wrap form .btn {
    padding: 10px;
  }
  .fox-form-wrap form .btn:hover {
    transform: scale(1.1);
  }
  .fox-form-wrap p.info {
    font-size: 1.1rem;
    position: absolute;
    bottom: -110px;
    left: 0px;
    color: #fff;
  }

.error {
    color: red;
    font-weight: bold;
}

.email {
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 4px;
    width: 300px;
}


.name {
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 4px;
    width: 300px;
}

.age {
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 4px;
    width: 300px;
}