<h1>Add course</h1>
{{> navbar this}}
<div class="row">
    <div class="col-sm-12">
        {{!-- <form id="login-form" method="post" action="/courseForm"> --}}
        <form id="addcourse">
            <div class="form-group">
                <label>
                    courseName:
                    <input type="text" name="courseName" required />
                </label>
            </div>
            <div class="form-group">
                <label>
                    description:
                    <input type="text" name="description" required/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    Image Link:
                    <input type="text" name="image" />
                </label>
            </div>
            <div>
                <label for="branch">Branch:
                <select class="form-control" name="branch" id="branch" value = "CS">
                <option value="CS">CS</option>
                <option value="NONCS">NONCS</option>
                </select>
            </div>
            <div class="container1">
                <button class="add_form_field">Add Video &nbsp; 
                    <span style="font-size:16px; font-weight:bold;">+ </span>
                </button>
                <div><input type="text" name="video_id"></div>
            </div>
                
            <button type="submit" class="submitButton">Submit</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var max_fields = 5;
        var wrapper = $(".container1");
        var add_button = $(".add_form_field");

        var x = 1;
        $(add_button).click(function(e) {
            e.preventDefault();
            if (x < max_fields) {
                x++;
                $(wrapper).append('<div><input type="text" name="video_id"/><a href="#" class="delete">Delete</a></div>'); //add input box
            } else {
                alert('You Reached the limits')
            }
        });

        $(wrapper).on("click", ".delete", function(e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        });

        $('#addcourse').on('submit',function(e){
            e.preventDefault();
            $.ajax({
            type: "POST",
            url: "/courseForm",
            {{!-- jsonpCallback: "_callback", --}}
            data: $('#addcourse').serialize(),
            success: function(result) {
                if (result.error){
                    alert(result.error)}
                else(
                    window.location = "/allcourses"
                )
            },
            error: function(result) {
                {{!-- console.log(result) --}}
                alert('error');
            }
            });
        });
        });
</script>