<div class="col-md-2 text-center">
                    <div class="dropdown ml-0">
                      
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownFilter">
                            <a href="/filter/filter/cs" class="dropdown-item">CS</a> <br><br>
                            <a href="/filter/filter/ec" class="dropdown-item" >Non CS</a>
                        </div>
                    </div>
    
</div>                