<!-- Code for the new pen -->
<link rel="stylesheet" href="/public/css/progress.css">

<div class = "wrapper"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    var data = {{{videodata}}}
    {{!-- var data = 85 --}}
    {{!-- console.log(playerInfoList) --}}
    var $div = $("<div></div>")
    {{!-- var class = 'circle per-'+data; --}}
    $div.addClass('circle per-'+data);
    $div.css({'background-image': 'conic-gradient(#67b168 '+data+'% , #f52b2b 0)'})
    $div.append($('<div/>').addClass("inner").text(data + '%'));
    $(".wrapper").append($div)
</script>