<section>
    <link rel="stylesheet" href="/public/search.css">
<a href="/search" class="anotherSearch">Make another search</a>
<h2 class="resultH2">Following are the results for "{{courseSearchTerm}}"</h2>
{{#if data}}
<ul>
    
    <li class="courseList"><a class="courseAnchor" href="/course/{{data.courseName}}">{{data.courseName}} </a></li>
    
</ul>
{{/if}}
{{#if hasError}}
<p class="notFound">{{error}}</p>
{{/if}}


</section>