<article>
<p class="introduction">
    Edutech
</p>
<form action='/search/searchcourses' method="POST">
    <label class="labelclass">
        Search for courses
        <input type="text" name="courseSearchTerm" />
    </label>
    <button type="submit" name ="Submit" > Search </button>
</form>
</article>
