<!-- MENU -->
<div class="text-center-course1web">
<h1>
    Web Development:
</h1>

<h2>
    Course Description:  <br> 
                        Do you realize that the only functionality of a web application that the user directly interacts with is through the web page? Implement it poorly and, to the user, the server-side becomes irrelevant! Today’s user expects a lot out of the web page: it has to load fast, expose the desired service, and be comfortable to view on all devices: from a desktop computers to tablets and mobile phones.

</h2>

<div>

<form>
    <button class="red" type="submit"><i class="icon ion-md-lock"></i>Enroll Now!</button>
</form>

</div>