<div class="segment">

<h1>
    SignUp Page 
</h1>
</div>
 
  <form action="/signup" method="POST" id="signup-form" class="signup-form">
    <label for='name'>Full Name:
      <input type="text" name="name" placeholder="Enter your full name" id="name" class="full-width-input"/>
    </label>
    <label for='age'>Age:
      <input type="number" name="age" placeholder="Enter your Age" id="age" class="full-width-input"/>
    </label>
    <br>
    <label for="gender">Gender:</label>
    <select name="gender" id="gender">
      <option value="Man">Man</option>
      <option value="Woman">Woman</option>
      <option value="Transgender">Transgender</option>
      <option value="other">other</option>
    </select>
    <label for="userType">User Type:</label>
    <select name="userType" id="userType">
      <option value="0">Student</option>
      <option value="1">Teacher</option>
    </select>
    <br>
    <label for='email'>Email:
      <input type="text" name="email" placeholder="Enter Email" id="email" class="full-width-input"/>
    </label>
    <br>
    <label for="password">Password:
      <input type="password" name="password" placeholder="Enter password" id="password" class="full-width-input"/>
    </label>
    <br>
    <button class="red" type="submit"><i class="icon ion-md-lock"></i>Sign up</button>
  </form>
  {{#if hasErrors}}
    <p class="error">{{error}}</p>
  {{/if}}
  <div class="signup">
  <a href="/" class="signup">Already have an account? Click here to login</a>
</div>